*{
    margin: 0px;
    padding: 0px;
}

#container{
    width: 970px;
    padding: 20px;
    margin: auto;
    background-color: teal;
}

#header{
    display: flex;
    justify-content: space-between;
}

a{
    color: white;
}