<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Hello {{user.first_name}}! Read about this trip!</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Log Out</a>
        </div>
        <div id="body">
            <h2>{{trip.destination}}</h2>
            <div id="details">
                <p>Start Date: {{trip.start_date}}</p>
                <p>End Date: {{trip.end_date}}</p>
                <p>Created On: {{trip.created_on}}</p>
                <p>Last Updated: {{trip.updated_on}}</p>
                <p>Plan: {{trip.plan}}</p>
                <p>Created by: {{trip.owner.first_name}}</p>
            </div>
            <div id="joined">
                <h3>People who've joined this trip:</h3>
                <ul>
                    {% for user in trip.users_joined.all %}
                    <li>{{user.first_name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>