<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div id="container">
        <h1>Welcome! Let's Travel</h1>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="body">
            <div class="block">
                <h1>Registration</h1>
                
                <form action="/register" method="POST">
                {% csrf_token %}
                    <div class="form_row">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name">
                    </div>
                    <div class="form_row">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name">
                    </div>
                    <div class="form_row">
                        <label for="email">Email</label>
                        <input type="text" name="email">
                    </div>
                    <div class="form_row">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div class="form_row">
                        <label for="confirm">Confirm PW</label>
                        <input type="password" name="confirm">
                    </div>
                    <input type="submit" value="Register">
                </form>
            </div>
            <div class="block">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <div class="form_row">
                        <label for="email">Email</label>
                        <input type="text" name="email">
                    </div>
                    <div class="form_row">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <input type="submit" value="Login">
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>